<li class="item weapon flexcol toggle-on-click" data-toggle="item-description-{{item._id}}">
    <ul class="item-header item-control">
        <li class="item-img"><img src="{{item.img}}" title="{{item.name}}" width="32px" height="32px"/></li>
        <li class="item-name">{{ item.name }}</li>
        <li class="icon-stat-container">
            <i class="fas fa-arrows-alt-h" title="{{ localize 'l5r5e.weapons.range' }}"> {{item.data.range}}</i>
            <i class="fas fa-tint" title="{{ localize 'l5r5e.weapons.damage' }}"> {{item.data.damage}}</i>
            <i class="fas fa-skull" title="{{ localize 'l5r5e.weapons.deadliness' }}"> {{item.data.deadliness}}</i>
        </li>
        {{#if editable}}
        <li data-item-id="{{item._id}}" class="item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
        <li data-item-id="{{item._id}}" class="item-delete" title="{{localize 'l5r5e.global.delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
    <ul class="item-properties">
        <li class="equip-readied-control" data-item-id="{{item._id}}" data-type="readied">
            <i class="i_readied fa{{^if item.data.readied}}r{{/if}} fa-check-circle" title="{{#if item.data.readied}}{{localize 'l5r5e.weapons.readied'}}{{else}}{{localize 'l5r5e.weapons.sheathed'}}{{/if}}"></i>
        </li>
        {{#each item.data.properties as |property id|}}
            <li>{{{ property.name }}}</li>
        {{/each}}
    </ul>
    {{#if item.data.description}}
        <div class="item-description item-description-{{item._id}}">{{{ item.data.description }}}</div>
    {{/if}}
</li>