<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            <select name="data.ring">
                {{#select item.data.ring}}
                    {{#each item.data.ringsList as |obj|}}
                        <option value="{{obj.id}}">{{obj.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.technique_type">
                {{#select item.data.technique_type}}
                    {{#each item.data.techniquesList as |obj|}}
                        <option value="{{obj.id}}">{{obj.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <label class="cursus attribute-value checkbox">
                <input type="checkbox" name="data.in_curriculum" {{checked item.data.in_curriculum}} />
                {{ localize 'l5r5e.advancements.curriculum' }}
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.advancements.cost' }}
                <input class="select-on-focus" type="number" name="data.xp_cost" value="{{item.data.xp_cost}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.advancements.spent' }}
                <input class="select-on-focus" type="number" name="data.xp_used" value="{{item.data.xp_used}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.rank' }}
                <input class="select-on-focus" type="number" name="data.rank" value="{{item.data.rank}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.bought_at_rank' }}
                <input class="select-on-focus" type="number" name="data.bought_at_rank" value="{{item.data.bought_at_rank}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
        </article>
        {{> 'systems/l5r5e/templates/items/item/item-infos.html' }}
    </section>
</form>