<div class="l5r5e dice-roll">
    {{#if isPublicRoll }}

    {{#if l5r5e.stance}}
    <div class="l5r5e profil">
        <header class="part-header flexrow chat-profil">
            <span class="chat-profil-element">
                <img class="profile-img"
                     src="{{#if l5r5e.actor.img}}{{l5r5e.actor.img}}{{else}}icons/svg/mystery-man.svg{{/if}}"
                     data-edit="img"
                     height="40"
                     width="40"
                     alt="{{#if l5r5e.actor.name}}{{l5r5e.actor.name}}{{else}}mystery-man{{/if}}"
                >
            </span>

            <span class="chat-profil-element">
                <i class="chat-profil-stance {{l5r5e.stance}} i_{{l5r5e.stance}}" title="{{localizeRing l5r5e.stance}}"></i>
            </span>

            <span class="chat-profil-element-skill">
                {{#if l5r5e.skillId}}
                    {{localizeSkillId l5r5e.skillId}}
                {{else}}
                    {{#if l5r5e.skillCatId}}{{localizeSkill l5r5e.skillCatId 'title'}}{{/if}}
                {{/if}}
            </span>

            <span class="chat-profil-element">
                {{#if l5r5e.summary.difficultyHidden}}
                    {{localize 'l5r5e.chatdices.difficulty_hidden'}}
                {{else}}
                    {{localize 'l5r5e.chatdices.difficulty'}} {{l5r5e.summary.difficulty}}
                {{/if}}
                {{#if l5r5e.summary.voidPointUsed}}
                    <br><i class="i_void" title="{{localize 'l5r5e.chatdices.void_point_used'}}"></i>
                {{/if}}
            </span>
        </header>
    </div>
    {{/if}}

    <div class="l5r5e dice-formula">{{formula}}</div>

    <div class="l5r5e dice-result">
        {{#if l5r5e.dicesTypes.l5r}}
        <div class="l5r5e item-display dices-l5r">
            {{#each l5r5e.dices}}
            {{#if this.diceTypeL5r}}
            {{#each this.rolls}}
            <span class="l5r5e chat-dice">{{{this.result}}}</span>
            {{/each}}
            {{/if}}
            {{/each}}

            {{!-- Roll & Keep Button --}}
            {{#if l5r5e.canRnK}}
            <button class="l5r5e chat-dice-rnk">{{localize "l5r5e.chatdices.roll_n_keep"}}</button>
            {{/if}}

            {{#l5r5e.summary}}
            <ul>
                <li>{{localize "l5r5e.chatdices.successes"}}: {{this.success}}</li>

                {{#if explosive}}
                <li>{{localize "l5r5e.chatdices.explosives"}}: {{this.explosive}}</li>
                {{/if}}

                {{#if opportunity}}
                <li>{{localize "l5r5e.chatdices.opportunities"}}: {{this.opportunity}}</li>
                {{/if}}

                {{#if strife}}
                <li>{{localize "l5r5e.chatdices.strives"}}: {{this.strife}}</li>
                {{/if}}
            </ul>
            {{/l5r5e.summary}}
        </div>
        {{/if}}

        {{#if l5r5e.dicesTypes.std}}
        <div class="l5r5e dices-std">
            {{#each results}}
            {{#each this.rolls}}
            <span class="l5r5e chat-dice">{{{this.result}}}</span>
            {{/each}}
            {{/each}}
        </div>

        {{{tooltip}}}
        <h4 class="l5r5e dice-total dice-total-std">{{total}}</h4>
        {{/if}}

    </div>

    {{/if}}
</div>

