<ul class="social-content">
    <li>
        <label class="attribute-label centered-input">
            <strong>{{ localize 'l5r5e.social.honor' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.social.honor" value="{{data.social.honor}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            <strong>{{ localize 'l5r5e.social.glory' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.social.glory" value="{{data.social.glory}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            <strong>{{ localize 'l5r5e.social.status' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.social.status" value="{{data.social.status}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
</ul>