<div class="techniques-wrapper">
    <div class="checklist">
        <i>{{ localize 'l5r5e.techniques.type'}}</i>
        {{#each actor.data.techniquesList as |technique|}}
            <label>
                <input type="checkbox" name="data.techniques.{{technique}}" {{checked (lookup ../actor.data.techniques technique)}} />
                {{localizeTechnique technique}}
            </label>
        {{/each}}
    </div>
    <fieldset class="section-header flexrow">
        <legend class="technique-controls">
            {{ localize 'l5r5e.techniques.title' }}
            {{#if editable}}
            <a data-item-type="technique" class="technique-control item-add" title="{{ localize 'l5r5e.global.add' }}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </legend>
        <ul class="item-list">
            {{#each actor.items as |item id|}}
                {{#ifCond item.type '==' 'technique'}}
                    {{> 'systems/l5r5e/templates/items/technique/technique-entry.html' technique=item editable=../editable }}
                {{/ifCond}}
            {{/each}}
        </ul>
    </fieldset>
</div>